@media only screen and (max-width: 700px) {
	body {
		display: flex;
		flex-direction: column;

		header {
			display: flex;
			flex-direction: column;
		}

		h1 {
		margin-top: .25em;
		}

    #search {
      align-self: center;
			width: 80%;
    }

		.show-all-btn {
			margin-bottom: 10px;
		}

		.nav-buttons {
			display: flex;
			flex-direction: row;
		}

		.welcome-msg {
			align-items: center;
			margin:auto;
			padding-bottom: .325em;
		}

		#tag-toggle {
			display: inline;
			height: 45px;
			padding-top:13px;
			width: auto;
		}

		.banner-image {
			height: auto;
			margin-top: .25em;
			width: 100%;
		}

		.main-title{
			display: flex;
		}

		.hamburger {
			background-color: $blue-gray-2;
			border: none;
			display: flex;
			outline: none;
			padding-left: 9em;
		}

		.menu-button,
		.menu-close,
		.feather {
			color: #fff;
			height: 5vh;
			position: absolute;
			right: 0px;
			top: 0px;
		}

		.mobile-buttons {
			display: flex;
			justify-content: space-evenly;
		}

		.mobile-menu {
			display: flex!important;
			height: 100px;
			position: relative;
			z-index: 2;
		}

		.open-style {
			display: flex;
			flex-direction: column;
			height: 375px;
			justify-content: space-between;
		}

		#mobile-search {
			display: flex;
			margin: 0 auto;
			max-width: 450px;
			min-width: 300px;
			.mobile-nav-btn {
				margin: 0 auto;
			}
		}

		#mobile-search-input {
			max-height: 70px;
		}

		.menu-body-style {
			display: flex;
			flex-direction: column;
			height: 350px;
			justify-content: space-around;
			.saved-ingredients-btn,
			.saved-recipes-to-cook {
				border-left: none;
				padding: 5px;
			}
		}

		.mobile-filter-btn {
			display: block;
			margin: 0 auto;
			margin-top: 17px;
		}

		.drop-menu {
			right:auto;
		}

		#post-to-pantry {
			width: 75%;
		}

		.mobile-aside {
			background: white;
			display: flex;
			height: 0px;
			justify-content: center;
			text-align: center;
			.mobile-wrap {
				background: white;
				height: 520px;
				position: relative;
				top: 43%;
				width: 200px;
				z-index: 2;
			}
		}
	}

.gray-1 {
    background: darkgray;
    opacity: 40%;
    width: 100%;
	}

	.mobile-hidden {
		display: none;
	}
}
