@mixin background-props {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin buttons {
  background-color: $green-title-font;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: $quicksand;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

@mixin buy-buttons {
  background-color: #359567;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  outline: none;
  margin: 5px;
  padding: 5px;
}
