$green-title-font: #359567;
$box-shadow-blue: #5c7894;
$background-blue:#5B7894;
$searchbar: #475d74;
$border-hover-green: #C4EB67;
$menu-silver: #DAE4EE;
$white: #FFFFFF;
$quicksand: "Quicksand", sans-serif;
